<div class="modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">New Order</h1>
      <div class="buttons">   
          <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
      </div>
  </ion-header-bar>
    <ion-content>
        <form ng-submit="saveNew()">
            <div class="card">
                <div class="item item-divider text-center">
                    <a class="item item-icon-left">
                        <i class="icon ion-pricetags"></i>
                        Create New Order
                    </a>
                </div>
                <div class="item item-body">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Order Number</b></span>
                            <input type="text" placeholder="Order Number" ng-model="newOrder.orderNumber" required>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Customer Name</b></span>
                            <input type="text" placeholder="Customer Name" ng-model="newOrder.customer" required>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Note</b></span>
                            <input type="text" placeholder="Note" ng-model="newOrder.comment" required>
                        </label>
                    </div>
                </div>
                <label class="item item-divider">
                    <button class="button button-block button-balanced" type="submit">Add New</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>