<div class="modal">
  <ion-header-bar class="bar-positive">
    <h1 class="title">New Product</h1>
      <div class="buttons">   
          <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-close-circled"></i></button>
      </div>
  </ion-header-bar>
    <ion-content>
        <form ng-submit="addProduct()">
            <div class="card">
                <div class="item item-divider text-center">
                    <a class="item item-icon-left">
                        <i class="icon ion-link"></i>
                        Add New Product
                    </a>
                </div>
                <div class="item item-body">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Product</b></span>
                            <!--<input type="text" placeholder="Products" ng-model="newProduct.product" required>-->
                            <select ng-model="newProduct.product" ng-options="product as product.name for product in products"></select>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Quantity</b></span>
                            <input type="number" placeholder="Quantity" ng-model="newProduct.quantity" required>
                        </label>
                    </div>
                </div>
                <label class="item item-divider">
                    <button class="button button-block button-balanced" type="submit">Add New</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>