<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable bar-positive">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/activeOrders" ng-show="loggedIn">
                    Active Orders
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/orders" ng-show="loggedIn">
                    All Orders
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/products" ng-show="loggedIn">
                    Products
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/login" ng-show="!loggedIn">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()" ng-show="loggedIn">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
