<ion-view title="Order Details">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-circled" ng-click="addNew()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class=" item item-divider">
                Order #: {{singleOrder.orderNumber}}
            </div>
            <div class="item item-divider">
                Customer: {{singleOrder.customer}}
            </div>
            <div class="item item-divider">
                Total Amount: {{singleOrder.total}}
            </div>
            <div class="item item-body">
                <div class="card" ng-repeat="product in singleOrder.products track by $index | orderBy:'name'" on-swipe="deleteProduct(product)" on-tap="openProduct(product)">
                    <div class="item item-body">
                        <h2><b>Product: {{product.product.name}}</b></h2>
                        <h2><b>Code: {{product.product.code}}</b></h2>
                        <h2><b>Quantity: {{product.quantity}}</b></h2>
                        <h2><b>Cost: {{product.cost}}</b></h2>
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                Created: {{singleOrder.created  | date:'medium'}}
            </div>
        </div>
    </ion-content>
</ion-view>
