<ion-view title="Settings">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              <a href="" class="item item-icon-left">
                  <i class="icon ion-settings"></i>
                  Server Settings
              </a>
          </div>
          <div class="item item-text-wrap">
              <form ng-submit="saveConfig()">
                  <div class="list list-inset">
                      <label class="item item-input">
                          <i class="icon ion-monitor placeholder-icon"></i>
                          <input type="text" placeholder="Server IP">
                      </label>
                      <label class="item item-input">
                          <i class="icon ion-clipboard placeholder-icon"></i>
                          <input type="text" placeholder="Products API">
                      </label>
                      <label class="item item-input">
                          <i class="icon ion-ios7-people placeholder-icon"></i>
                          <input type="text" placeholder="Customers API">
                      </label>
                      <label class="item item-input">
                          <i class="icon ion-person-add placeholder-icon"></i>
                          <input type="text" placeholder="Login API">
                      </label>
                  </div>
                  <button class="button button-block button-balanced" type="submit">Save</button>
                  <button class="button button-block button-assertive" >Cancel</button>
              </form>
          </div>
      </div>
  </ion-content>
</ion-view>

