<!-- <div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</div> -->
<ion-view title="Login">
    <ion-content>
        <div class="card">
            <div class="item item-divider text-center">
                <div class="item item-image">
                    <img class="full-image" src="Woodin.png" height="150">
                </div>
            </div>
            <div class="item item-text-wrap">
                <form ng-submit="doLogin()">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Username</span>
                            <input type="text" placeholder="Username" ng-model="loginData.username" required>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Passcode</span>
                            <input type="password" placeholder="Passcode" ng-model="loginData.password" required>
                        </label>
                        <label class="item">
                            <button class="button button-block button-positive icon-left ion-log-in" type="submit">Log in</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="title">
            <a class="button icon-right ion-arrow-right-a button-block button-assertive" href="#/app/settings">Settings</a>
        </div>
    </div>
</ion-view>
