<ion-view title="All Orders">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-circled" ng-click="addNew()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card" ng-repeat="order in orders" on-swipe-left="deleteOrder(order)" animation="slide-left-right" on-tap="openOrder(order)">
            <div class=" item item-divider">
                {{$index+1}}. Order #: {{order.orderNumber}}
            </div>
            <div class="item item-text-wrap">
                <a href="" class="item item-icon-left">
                    <i class="icon ion-ios7-people"></i>
                    {{order.customer}}
                </a>
            </div>
            <div class="item item-divider">
                Created: {{order.created  | date:'medium'}}
            </div>
        </div>
    </ion-content>
</ion-view>
