<ion-view title="Products">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="product in products" href="#/app/products/{{product.id}}">
        {{$index+1}}. {{product.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
